body{font-family:"Arial"}
li{list-style: none}
.loginPanel{width:400px;height:400px;margin:0 auto;padding:12% 0 0}
.loginPanel .loginText{text-align:center;height: 50px;font-size: 20px;font-family:"Arial"}
.loginPanel .loginUserName{width:400px;margin-bottom: 10px}
.loginPanel .loginUserName .namediv{width:200px;float:left}
.loginPanel .loginUserName .pwddiv{width:200px;float:left}
.loginPanel .loginUserName .luser{width:100px;float: left}
.loginPanel .loginUserName .namediv input{width:250px;height:20px;float: left;border: solid 1px #dddddd}
.loginPanel .loginPassword .lpwd{width:100px;float:left}
.loginPanel .loginPassword .pwddiv input{width:250px;height:20px;float: left;border: solid 1px #dddddd}

.clear{width:0;height:0;clear:both}

.container{width:1080px;margin:0 auto;}
.container .head{width:1080px;}
.container .head ul li{float:left;width:100px;text-align:center;border: solid 1px #dddddd;height: 30px;line-height: 30px;border-radius: 5px}
.container .head ul li a{text-decoration: none}
.container .content .left{float:left;width:200px;border: solid 1px #dddddd;}
.container .content .right{float:left;width:870px;border: solid 1px #dddddd;}